* {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(1, 34, 31);
            color: white;
            font-family: 'poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        nav ul {
            display: flex;
            justify-content: cemter;
            height: 80px;
            background-color: rgb(1, 35, 35);
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover {
            color: rgb(82, 210, 161);
            font-size: 1.05rem;
        }
        main hr {
            background:  green;
            border: 0;
            height: 1.2px;
            margin: 40px 84px;
        }
 
        .left {
            font-size: 1.5rem;
            font-size: 30px;
        }
        .right{
            padding-bottom: 20px;
            margin-top: 20px;
        }

        .firstsection {
            display: flex;
            justify-content: space-around;
            margin: 120px 0;
        }

        .firstsection>div {
            width: 80%;
        }

        .leftsection {

            font-size: 2.5rem;
        }
        .leftsection .buttons{
            padding: 20px;
        }
        .leftsection .btn{
            padding: 12px;
            background: #045f59;
            color: white;
            border: 2px solid white;
            font-size: 20px;
            cursor: pointer;
            border-radius: 100px ;
            border-color:rgb(159, 164, 233);
            border: 5px solid;
            
        }
        .leftsection{
                margin-left: 20px
        }

        .rightsection>img{
            border: 10px solid; 
            border-color: rgb(159, 164, 233); 
            border-radius: 50px; 
            padding: 1px;
            width: 300px;   
            align-items: right;
            display: flex;
            margin-left: 150px;
            animation: floatImage 4s ease-in-out infinite;
        }
        
        @keyframes floatImage{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-2.4rem);
  }
  100%{
    transform: translateY(0);
}
}
        .equa{
            color: aqua;
            font-size: 1.4rem;
            cursor: pointer;
    
}
        .purple { 
            color: aqua;
        }
        .textgray{
            color: gray;
        }
        #element {
            color: aqua;
        }
        .secondsection {
           max-width: 80vw;
           margin: auto; 
           height: 80vh;
        }
        .secondsection h1{
            font-size: 1.9rem;
        }
        .secondsection .box{
            background: white;
            width: 80vw;
            height: 2px;
            margin: 56px 0;
            display: flex;
        }
        .secondsection .vertical{
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 100px;
        }
        .social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid ;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
  font-size: 2rem;
    background-color: gray;
    text-decoration: none;
}
.social-media a:hover{
  color: green;
  border-radius: 50%;
}
        
        .image-top{
            width: 60px;
            position: relative;
            top: -32px;
            right: -9px;
        }
        .vertical-title{
            position: relative;
            top: 75px;
            width: 150px;
        }
        .vertical-desc{
            position: relative;
            top: 86px;
            color: gray;
            width: 150px;
            font-size: 10px;

        }
        .footer{
            background-color: #042d2a;
            height: 233px;
        }
        .footer{
            display: flex;
            margin:  20px 122px;
            justify-content: space-evenly;
        }
        .footer ul{
            list-style: none;

        }
        .footer > div{
            width: 123px;
        }
        footer .footer-right{
            text-align: center;
            color: gray;
            padding: 12px;
        }
